  /* ! Custom properties */
  :root{
    --white: #FFFFFF;
    --black: #000000;
    --light-blue: #006CFA;
    --green: #00E165;
  }
  
  /* ! Generics */
  body {
    font-family: sans-serif;
    color: var(--white);
    font-size: 12px;
  }

  section {
    margin-bottom: 15px;
  }
  
  /* ! Utils */
  .title {
    margin: 3px 0;
    color: var(--black);
  }

  .row > [class^="col"] {
    min-height: 50px;
    background-color: var(--light-blue);
    border: 1px solid var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .row > [class^="col"] [class^="col"] {
    min-height: 30px;
    background-color: var(--green);
    border: 1px solid var(--light-blue);
    padding: 0 10px;
    align-items: center;
  }

  .col-6 > .row {
    padding: 0 10px;
  }




  