  /* ! Custom properties */
  :root{
    --white: #FFFFFF;
    --black: #000000;
    --light-blue: #006CFA;
    --green: #00E165;
  }
  
  /* ! Generics */
  body {
    font-family: sans-serif;
    color: var(--white);
    font-size: 12px;
  }
  
  /* ! Utils */
